body{
    width: 960px;
    margin: auto;
}

#head {
    padding: 15px;
    width: auto;
    height: 100px;
    text-align: center;
}

.p {
    float: left;
    font-size: 25px;
    color: #861BBF
    font-weight: bold;
}

.search{
    float: right;
    text-align: center;
}

.search form{
    height: 50px;
    width: 350px;
    margin: 25px 0 0 0;
    text-align: center;
    padding: 10px;
    background-color: #C1EB6A
}

.text{
    margin-top: 12px;
    height: 22px;
    float: left;
    margin-left: 10px;
    width: 180px;
    background: url(../images/search.png) no-repeat right center;
    background-color: #FFFFFF;
}

.submit{
    float: right;
    margin-top: 12px;
    height: 28px;
    background-color: #A751D6;
    color: white;
}

/* information bar*/
.information ul{
    list-style: none;
}

.information ul li a{
    text-decoration: none;
}

.information{
    height: 80px;
    width: 100%;
    background: linear-gradient(#F5F28D,#D7D738);
    font-size: 20px;
    text-transform: uppercase;
}
.information ul li{
    float: left;
    margin: 25px 0;
    padding: 0 20px;
    height: 30px;
    border-right: solid #5D12E7 1px; 
}

.information ul li:nth-child(5){
    border-right: none;
}

/*Paragraph 1*/
#paragraph{
    background: linear-gradient(#E5F2BA,#B7E953);
    height: 350px;

}

#paragraph h3{
    font-size: 3rem;
    padding: 60px 20px 20px 20px;
}

#paragraph p{
    font-size: 1.5rem;
    padding: 0 20px;
    text-align: justify;
}

/*boxes*/
.left{
    float: left;
    margin-top: 20px;
    border: solid #BAF46F 1px;
    border-radius: 10px;
    width: 470px;
}

.left h3, .right h3{
    margin: 20px 15px;
    font-size: 30px;
}

.left ol li{
    list-style: none;
    padding: 10px 10px 10px 30px;
    font-size: 20px;
    background: url(../images/arrow.png) no-repeat left center;
}

.left ol li:hover, .right ol li:hover{
    font-size: 30px;
    color: #5D12E7;
}

.right{
    float: right;
    margin-top: 20px;
    border: solid #BAF46F 1px;
    border-radius: 10px;
    width: 470px;
}

.right ol li{
    list-style: none;
    padding: 30px 30px 30px 50px;
    font-size: 20px;
    background: url(../images/tick.png) no-repeat left center;
}

/* footer*/
.clear{
    height: 628px;
}
.footer{
    height: 80px;
    background: linear-gradient(#F4F18C, #D5D535)
}

.footer p{
    padding: 30px;
}